---
import { PAGE_URLS } from '@shared/constants.ts';
---

<section class="mb-12 text-center">
  <h1 class="text-primary mb-6 text-4xl leading-tight font-bold md:text-5xl lg:text-6xl">
    Technical Blueprints: <span class="text-blue-500 dark:text-blue-400">Open Source, Architecture</span>, and
    <span class="text-blue-600 dark:text-blue-300">Full-Stack Implementation</span>
  </h1>

  <p class="text-secondary mx-auto max-w-4xl text-lg leading-relaxed md:text-xl">
    While my professional experience is detailed in the
    <a href={PAGE_URLS.EXPERIENCE} class="transition-default text-hover text-blue-500 dark:text-blue-400">
      Career Timeline</a
    >, this section provides an in-depth view of my technical ownership and architectural decisions across my personal
    and open-source projects.
  </p>
</section>
