---
import { SOCIALS } from '@shared/constants';
import { useTranslations } from '@shared/helpers.ts';
import { PRIVACY_POLICY_TRANSLATIONS } from './translations.ts';

const t = useTranslations(Astro.url, PRIVACY_POLICY_TRANSLATIONS);
---

<section class="mb-8">
  <h2 class="mb-4 text-2xl font-semibold text-gray-900 dark:text-white">{t('privacy.contact.title')}</h2>
  <p class="mb-4 text-gray-600 dark:text-gray-300" set:html={t('privacy.contact.text1')} />
  <p class="text-gray-600 dark:text-gray-300">
    <span set:html={t('privacy.contact.text2')} />
    <a href={`mailto:${SOCIALS.EMAIL}`} class="font-semibold text-gray-900 dark:text-white">{SOCIALS.EMAIL}</a>
  </p>
</section>
