---
import { useTranslations } from '@shared/helpers.ts';
import { PRIVACY_POLICY_TRANSLATIONS } from './translations.ts';

const t = useTranslations(Astro.url, PRIVACY_POLICY_TRANSLATIONS);
---

<h1 class="mb-8 text-4xl font-bold text-gray-900 dark:text-white">{t('privacy.title')}</h1>
