---
import { SOCIALS } from '@shared/constants';
import { useTranslations } from '@shared/helpers.ts';
import { TERMS_AND_CONDITIONS_TRANSLATIONS } from './translations.ts';

const t = useTranslations(Astro.url, TERMS_AND_CONDITIONS_TRANSLATIONS);
---

<section class="mb-8">
  <h2 class="mb-4 text-2xl font-semibold text-gray-900 dark:text-white">{t('terms.contact.title')}</h2>
  <p class="text-gray-600 dark:text-gray-300">
    <span set:html={t('terms.contact.text')} />
    <a href={`mailto:${SOCIALS.EMAIL}`} class="font-semibold text-gray-900 dark:text-white">{SOCIALS.EMAIL}</a>
  </p>
</section>
