<section class="background-default border-default mx-8 mb-8 rounded-lg border p-6 shadow-lg">
  <p class="text-secondary text-base">The page escaped through a dimension only accessible on Fridays :)</p>
</section>
