<section>
  <h1
    class="animate-bounce-slow mb-8 text-[8rem] leading-none font-extrabold text-blue-500 sm:text-[12rem] md:text-[16rem] lg:text-[20rem] xl:text-[24rem] dark:text-blue-400"
  >
    404
  </h1>

  <h2 class="text-primary mb-10 text-3xl font-bold md:text-4xl">Oops! This Page Got Lost in the Cloud :(</h2>
</section>

<style>
  @keyframes bounce-slow {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .animate-bounce-slow {
    animation: bounce-slow 3s ease-in-out infinite;
  }
</style>
