@import 'tailwindcss';

@layer utilities {
  .text-primary {
    @apply text-slate-800 dark:text-slate-50;
  }

  .text-secondary {
    @apply text-slate-600 dark:text-slate-300;
  }

  .background-default {
    @apply bg-slate-100 dark:bg-slate-800;
  }

  .border-default {
    @apply border-slate-200 dark:border-slate-700;
  }

  .hover-default {
    @apply hover:bg-slate-100 dark:hover:bg-slate-800;
  }

  .focus-default {
    @apply focus:ring-2 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-500;
  }

  .transition-default {
    @apply transition-all duration-300;
  }
}
