<a
  href="/Oleh Khavar CV.pdf"
  class="transition-default focus-default inline-flex transform items-center justify-center rounded-lg bg-blue-500 px-8 py-4 text-lg font-semibold text-white shadow-lg hover:-translate-y-1 hover:bg-blue-600 hover:shadow-xl active:bg-blue-700"
  target="_blank"
>
  View CV
</a>
