---
import { useTranslations } from '../helpers.ts';
import { VIEW_CV_TRANSLATIONS } from './translations.ts';

const t = useTranslations(Astro.url, VIEW_CV_TRANSLATIONS);
---

<a
  href="/Oleh Khavar CV.pdf"
  class="transition-default focus-default inline-flex transform items-center justify-center rounded-lg bg-blue-600 px-8 py-4 text-lg font-semibold text-white shadow-lg hover:-translate-y-1 hover:bg-blue-600 hover:shadow-xl active:bg-blue-700"
  target="_blank"
>
  {t('title')}
</a>
