---
import GitHubIcon from '@assets/github.svg';

interface Props {
  url: string;
}

const { url } = Astro.props;
---

<div class="flex justify-center">
  <a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    class="transition-default focus-default inline-flex transform items-center justify-center rounded-lg bg-blue-600 px-8 py-4 text-lg font-semibold text-white shadow-lg hover:-translate-y-1 hover:bg-blue-600 hover:shadow-xl active:bg-blue-700"
  >
    <GitHubIcon class="mr-2 h-6 w-6" fill="white" />
    View Code on GitHub
  </a>
</div>
