---
import type { SvgComponent } from 'astro/types';

interface Props {
  Icon: SvgComponent;
  title: string;
  details: string[];
}

const { Icon, title, details } = Astro.props;
---

<div class="background-default border-default rounded-2xl border-2 p-6 shadow-lg">
  <h3 class="text-primary mb-3 flex items-center text-xl font-bold">
    <Icon class="mr-3" />
    {title}
  </h3>

  {
    details.length === 1 ? (
      <p class="text-secondary leading-relaxed">{details[0]}</p>
    ) : (
      <ul class="text-secondary list-inside list-disc space-y-1 leading-relaxed marker:text-blue-500">
        {details.map((detail: string) => (
          <li>{detail}</li>
        ))}
      </ul>
    )
  }
</div>
