---
import MetricBlock from '@shared/metric/MetricBlock.astro';
import type { Metric } from '@shared/metric/interfaces.ts';
import { METRICS } from './constants';
---

<section class="mb-12 rounded-2xl">
  <h2 class="text-primary mb-8 text-center text-2xl font-bold">Impact & Expertise</h2>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
    {METRICS.map((metric: Metric) => <MetricBlock metric={metric} />)}
  </div>
</section>
