---
import { getLanguageStaticPaths, useTranslations } from '@shared/helpers.ts';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/home/Hero.astro';
import Metrics from '@components/home/Metrics.astro';
import Reviews from '@components/home/Reviews.astro';
import Goal from '@components/home/Goal.astro';
import { SEO_TRANSLATIONS } from '@layouts/translations.ts';

export const getStaticPaths = getLanguageStaticPaths;

const t = useTranslations(Astro.url, SEO_TRANSLATIONS);
---

<Layout title={t('home_title')} description={t('home_description')}>
  <div class="mx-auto w-full max-w-6xl px-4 py-12">
    <Hero />

    <Metrics />

    <Reviews />

    <Goal />
  </div>
</Layout>
