---
import { PAGE_URLS } from '@shared/constants.ts';
import ViewCv from '@shared/view-cv/ViewCv.astro';
---

<section class="mt-16 text-center">
  <h2 class="text-primary mb-6 text-3xl font-bold">Ready to see these principles in action in open source code?</h2>

  <div class="flex flex-col items-center justify-center gap-4 md:flex-row">
    <a
      href={PAGE_URLS.PROJECTS}
      class="transition-default focus-default inline-flex transform items-center justify-center rounded-lg bg-blue-500 px-8 py-4 text-lg font-semibold text-white shadow-lg hover:-translate-y-1 hover:bg-blue-600 hover:shadow-xl active:bg-blue-700"
    >
      View Projects and Architectural Blueprints
    </a>

    <ViewCv />
  </div>
</section>
