---
import { PAGE_URLS } from '@shared/constants.ts';
import { SOCIAL_LINKS } from './constants.ts';
import type { SocialLink } from './interfaces.ts';
---

<footer class="bg-slate-900 dark:bg-slate-950">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-4 lg:py-6">
    <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
      <span class="text-secondary text-center text-sm md:text-left"> © 2025 Oleh Khavar. All Rights Reserved. </span>

      <ul class="text-secondary flex flex-wrap items-center justify-center gap-4 text-sm font-medium md:gap-6">
        <li>
          <a href={PAGE_URLS.PRIVACY_POLICY} class="transition-default focus-default text-hover">Privacy Policy</a>
        </li>
        <li>
          <a href={PAGE_URLS.TERMS_AND_CONDITIONS} class="transition-default focus-default text-hover">
            Terms & Conditions
          </a>
        </li>
      </ul>

      <ul class="flex justify-center gap-5">
        {
          SOCIAL_LINKS.map((link: SocialLink) => (
            <li>
              <a
                href={link.href}
                class="transition-default focus-default inline-block"
                aria-label={`Navigate to ${link.label}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <link.icon class="h-6 w-6 text-gray-700 transition hover:text-gray-900" />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>
