---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';
import themeInitScript from './scripts/theme-init.js?raw';
import languageInitScript from './scripts/language-init.js?raw';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro Basics</title>
    <ClientRouter />
    <script is:inline set:html={themeInitScript} />
    <script is:inline set:html={languageInitScript} />
  </head>
  <body class="flex min-h-screen flex-col bg-slate-50 dark:bg-slate-900">
    <Navbar />

    <div class="flex-grow pt-20 pb-2">
      <slot />
    </div>

    <Footer />
  </body>
</html>

<script src="./scripts/flowbite.min.js"></script>
<script src="./scripts/flowbite-init.ts"></script>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
