---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body class="bg-slate-50 dark:bg-slate-900">
    <Navbar />

    <div class="pt-20 pb-2">
      <slot />
    </div>

    <Footer />
  </body>
</html>

<script is:inline src="/scripts/flowbite.min.js"></script>

<script>
  declare global {
    interface Window {
      initFlowbite?: () => void;
    }
  }

  // Flowbite initialization after page navigation
  document.addEventListener('astro:page-load', () => {
    if (typeof window !== 'undefined' && window.initFlowbite) {
      window.initFlowbite();
    }
  });
</script>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
